{deps, [
  {eredis,".*",{git,"git://github.com/wooga/eredis","master"}},
  {emysql,".*",{git,"git://github.com/Eonblast/Emysql",{tag,"0.4.0"}}},
  {emqttd,".*",{git,"git://github.com/emqtt/emqttd",{tag,""}}},
  {lager,".*",{git,"git://github.com/erlang-lager/lager.git",{tag,"3.2.1"}}}
]}.
{erl_opts, [debug_info,{parse_transform,lager_transform}]}.
